@inject IUserService userService;

<a class="nav-link dropdown-toggle nav-user" data-bs-toggle="dropdown" href="#" role="button"
   aria-haspopup="false" aria-expanded="false">
    <div class="d-flex align-items-center">
        <img src="~/admin/assets/images/users/user-4.jpg" alt="profile-user" class="rounded-circle me-2 thumb-sm" asp-append-version="true" />
        <div>
            <small class="d-none d-md-block font-11">Admin</small>
            <span class="d-none d-md-block fw-semibold font-12">
               @userService.GetCurrentUserFullName()  <i class="mdi mdi-chevron-down"></i>
            </span>
        </div>
    </div>
</a>
<div class="dropdown-menu dropdown-menu-end">
    <a class="dropdown-item" href="#"><i class="ti ti-user font-16 me-1 align-text-bottom"></i> Profile</a>
    <a class="dropdown-item" href="#"><i class="ti ti-settings font-16 me-1 align-text-bottom"></i> Settings</a>
    <div class="dropdown-divider mb-0"></div>
    <a class="dropdown-item" asp-controller="auth" asp-action="logout" ><i class="ti ti-power font-16 me-1 align-text-bottom"></i> Logout</a>
</div>